
.top{
    top: 100px;
    bottom: 200px;
    background-color: rgb(0, 0, 93);
    color:azure;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two equal columns */
  gap: 20px; /* space between columns */
}

.column {
  padding: 10px;
}

.body{
  background-color: rgb(223, 223, 223);
}
body{
    background-color: beige;
    color: rgb(59, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 36px;
    
    text-align:center;
   
    
    
}
h2{
    font-size: 24px;
    
    text-align: center;
}

.common{
    background-color: beige;
    border: 4px solid bisque;
    position:absolute;
}

.right{
    top:125px;
    right: 30px;
    width: 120px;
    bottom: 40px;
}

h5{
    text-align: center;

}

.main{
    top:125px;
    left:150px;
    right:140px;
    bottom:40px;
}

.left{
    left: 5px;
    top:125px;
    width: 140px;
    bottom: 40px;
}


.bottom{
    bottom:5px;
    left:5px;
    right:30px;
    height: 30px;
    position:fixed;
    border: 4px solid bisque;
    text-align: center;
}

.chess{
  color:rgb(0, 104, 0);
}

